.current-issues {
    max-height: 360px;
    overflow: hidden;
    overflow-y: scroll;
    padding-right: 30px;
  }

  
  .current-issues p {
    text-align: left;
    color: #707070;
    margin: 10px 0;
  }
  
  .current-issues p span {
    display: inline-block;
    margin-left: 20px;
  }
  
  .current-issues p span,
  .current-issues .description-text {
    color: #959595;
  }
  
  .current-issues .indv-issue {
    position: relative;
  }
  
  .current-issues .close-issue {
    position: absolute;
    top: 0;
    right: 0;
    color: #959595;
    margin-top: 0;
  }
  
  .current-issues hr {
    border: none;
    background: #989898;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .current-issues::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #f5f5f5;
  }
  
  .current-issues::-webkit-scrollbar {
    width: 6px;
    background-color: #f5f5f5;
  }
  
  .current-issues::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #5e5e5e;
  }
  